.app-download{
    padding: 52px 80px 0px 80px;
    background-color: #E6F6ED;

    .left{
        padding-left: 80px;

        h1{
            font-family: $fontheader;
            font-size: 46px;
            font-weight: 600;
            line-height: 75px;
            letter-spacing: 0.05em;
            color: #152934;
        }
        p{
            width: 606.67px;
            height: 66px;
            font-family: $fontheader;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.05em;
            color: #505954;
            padding-top: 13.33px;
        }
        h6{
            font-family: $fontheader;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #505954;
            padding-top: 38.67px;
            padding-bottom: 13.33px;
        }
        button{
            border: none;
            outline: none;
        }
        // .google-play-button {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     background-color: #B0E4C6;
        //     color: rgb(0, 0, 0);
        //     border: none;
        //     border-radius: 5px;
        //     cursor: pointer;
        //     transition: all 0.3s ease-in-out;
        //     width: 177px;
        //     height: 65.33px;
        //     text-wrap: wrap;
        //     padding: 11.67px 20px 11.67px 20px;
        //     border-radius: 10px;
        //     font-weight: bold;
        //   }
        // .google-play-icon {
        //     width: 22px;
        //     height: 24px;
        //     margin-right: 10px;
        //   }
        //   .top{
        //     font-family: Poppins;
        //     font-size: 2px;
        //     font-weight: 500;
        //     line-height: 18px;
        //     letter-spacing: 0.05em;

        //   }

    }
    .right{
        img{
            width: 380px;
            height: 500px;

        }
    }
}