.app-download{
    padding: 52px 80px 0px 80px;
    background-color: #E6F6ED;

    .left{
        padding-left: 80px;

        h2{
            font-family: $fontheader;
            font-size: 46px;
            font-weight: 600;
            line-height: 75px;
            letter-spacing: 0.05em;
            color: #152934;
        }
        p{
            font-family: $fontheader;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.05em;
            color: #505954;
            padding-top: 13.33px;
        }
        h6{
            font-family: $fontheader;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #505954;
            padding-top: 38.67px;
            padding-bottom: 13.33px;
        }
        button{
            border: none;
            outline: none;
            img{
                padding-right: 20px;

            }
        }
        // .google-play-button {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     background-color: #B0E4C6;
        //     color: rgb(0, 0, 0);
        //     border: none;
        //     border-radius: 5px;
        //     cursor: pointer;
        //     transition: all 0.3s ease-in-out;
        //     width: 177px;
        //     height: 65.33px;
        //     text-wrap: wrap;
        //     padding: 11.67px 20px 11.67px 20px;
        //     border-radius: 10px;
        //     font-weight: bold;
        //   }
        // .google-play-icon {
        //     width: 22px;
        //     height: 24px;
        //     margin-right: 10px;
        //   }
        //   .top{
        //     font-family: Poppins;
        //     font-size: 2px;
        //     font-weight: 500;
        //     line-height: 18px;
        //     letter-spacing: 0.05em;

        //   }

    }
    .right{
        img{
        }
    }
}


@media screen and (max-width: 576px) {
    
    .app-download{
        padding: 60px 16px 60px 16px;
        background-color: #E6F6ED;
    
        .left{
            padding-left: 0px;
    
            h2{
                font-family: $fontheader;
                font-size: 30px;
                font-weight: 600;
                line-height: 45px;
                letter-spacing: 0.05em;
                color: #152934;
                text-align: center;
            }
            p{
                font-family: $fontheader;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.05em;
                color: #505954;
                padding-top: 16px;
                text-align: center;
            }
            h6{
                font-family: $fontheader;
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0.05em;
                text-align: center;
                color: #505954;
                padding-top: 32px;
                padding-bottom: 16px;
            }
            button{
                border: none;
                outline: none;
                display: flex;
                margin: auto;
                padding-bottom: 50px;
                img{
                    width: 148px;
                    height: 53px;
                    padding-right: 16px;
                }

            }

            // .google-play-button {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     background-color: #B0E4C6;
            //     color: rgb(0, 0, 0);
            //     border: none;
            //     border-radius: 5px;
            //     cursor: pointer;
            //     transition: all 0.3s ease-in-out;
            //     width: 177px;
            //     height: 65.33px;
            //     text-wrap: wrap;
            //     padding: 11.67px 20px 11.67px 20px;
            //     border-radius: 10px;
            //     font-weight: bold;
            //   }
            // .google-play-icon {
            //     width: 22px;
            //     height: 24px;
            //     margin-right: 10px;
            //   }
            //   .top{
            //     font-family: Poppins;
            //     font-size: 2px;
            //     font-weight: 500;
            //     line-height: 18px;
            //     letter-spacing: 0.05em;
    
            //   }
    
        }
    }
    }