
.doctor-dashboard{
    padding: 120px 92px 120px 92px;

    h2{
        @include title();
        padding-bottom: 16px;
    }
    p{
        @include description();
        padding-bottom: 58px;
    }
    .services-section{
        .service-one{
            padding-bottom: 28px;
        }

        .service-two{
            padding-bottom: 28px;
        }
        padding-right: 40px;
        img{
            padding-top: 17px;
            padding-bottom: 17px;
        }
        h4{
            @include serviceheader();
            padding-left: 18px;
        }
        p{
            @include servicedescription();
            padding-left: 18px;
        }
    }
}