.patient-prescription{
    margin-bottom: 50px;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 90px;

    .for-doctors{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-family: $fontheader;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0.05em;
        }
        P{
            padding-right: 12.42px;
        }
    }
}