.patient-prescription{
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 90px;

    .for-doctors{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-family: $fontheader;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0.05em;
        }
        P{
            padding-right: 12.42px;

            .right-arrow{
                color: #00A746;
            }
        }
    }

    .prescription-blog{
        margin-top: 20px;

        .first-card-blog{
            .date{
                padding-left: 13.33px;
                padding-top: 20px;
                font-family: $fontheader;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: #152934;
    
                span{
                    color: #5D6467;
                    padding-left: 18.67px;
                }
            }
            h4{
                @include blogpostheader();
                padding-left: 13.33px;
                padding-top: 13.33px;
            }
            p{
                @include blogpostdescription();
                padding-left: 13.33px;
                padding-top: 8.33px;
                width: 300px;
            }
        }

        .second-card-blog{
            .date{
                padding-left: 13.33px;
                padding-top: 20px;
                font-family: $fontheader;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: #152934;
    
                span{
                    color: #5D6467;
                    padding-left: 18.67px;
                }
            }
            h4{
                @include blogpostheader();
                padding-left: 13.33px;
                padding-top: 13.33px;
            }
            p{
                @include blogpostdescription();
                padding-left: 13.33px;
                padding-top: 8.33px;
                width: 300px;
            }
        }
        .third-card-blog{
            .date{
                padding-left: 13.33px;
                padding-top: 20px;
                font-family: $fontheader;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: #152934;
    
                span{
                    color: #5D6467;
                    padding-left: 18.67px;
                }
            }
            h4{
                @include blogpostheader();
                padding-left: 13.33px;
                padding-top: 13.33px;
            }
            p{
                @include blogpostdescription();
                padding-left: 13.33px;
                padding-top: 8.33px;
                width: 300px;
            }
        }

    }
}