  .postheader{
    height: auto;
    margin-left: 100px;
    margin-right: 90px;
    margin-top: 16px;
    padding: 20px 0px 20px 0px;
    border: none;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;

    .posts{
        a{
          text-decoration: none;
          padding-right: 40px;
          font-family: $fontheader;
          font-size: 22px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0.05em;
          color: #152934;
        }
    }
  }