.question{
    padding: 100px 80px 100px 80px;
    h4{
        font-family: $fontheader;
        font-size: 32px;
        font-weight: 600;
        line-height: 52px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #152934;
        padding-bottom: 15px;
    }
    p{
        font-family: $fontheader;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #505954;
        margin: auto;
    }
    .data-related-question{
        padding-top: 36px;

        h4{
            font-family: $fontheader;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #505954;
            padding-left: 80px;
            margin: auto;
        }
        .accordion{
            .accordion-button{
                font-family: $fontheader;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #505954;
            }

            .accordion-body{
                padding: 20px;
                background: #E6F6ED;
                font-family: $fontheader;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #505954;
                padding-left: 41.25px;
                padding-right: 41.25px;
            }
            .accordion-button{
                box-shadow: none;
            }

            // .accordion-button::after{
            //     content: "";
            //     background-image: url(./chevron-down-solid.svg) !important;
            // }
        }
    }
    .prescription-related-question{
        padding-top: 36px;
        h4{
            font-family: $fontheader;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #505954;
            padding-left: 80px;
            margin: auto;
        }
        .accordion{
            .accordion-button{
                font-family: $fontheader;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #505954;
            }

            .accordion-body{
                padding: 20px;
                background: #E6F6ED;
                font-family: $fontheader;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #505954;
                padding-left: 41.25px;
                padding-right: 41.25px;
            }
            .accordion-button{
                box-shadow: none;
            }

            // .accordion-button::after{
            //     content: "";
            //     background-image: url(./chevron-down-solid.svg) !important;
            // }
        }
    }
}


@media screen and (max-width: 576px) {
    
    .question{
        padding: 60px 16px 60px 16px;
        h4{
            font-family: $fontheader;
            font-size: 28px;
            font-weight: 600;
            line-height: 42px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #152934;
            padding-bottom: 28px;
        }
        p{
            font-family: $fontheader;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #505954;
        }
        .data-related-question{
            padding-top: 36px;
    
            h4{
                font-family: $fontheader;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #505954;
            }
            .accordion{
                .accordion-button{
                    font-family: $fontheader;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.05em;
                    text-align: left;
                    color: #505954;
                }
    
                .accordion-body{
                    padding: 20px;
                    background: #E6F6ED;
                    font-family: $fontheader;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    text-align: left;
                    color: #505954;
                    padding-left: 41.25px;
                    padding-right: 41.25px;
                }
                .accordion-button{
                    box-shadow: none;
                }
    
                // .accordion-button::after{
                //     content: "";
                //     background-image: url(./chevron-down-solid.svg) !important;
                // }
            }
        }
        .prescription-related-question{
            padding-top: 40px;
            h4{
                font-family: $fontheader;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0.05em;
                text-align: r;
                color: #505954;
            }
            .accordion{
                .accordion-button{
                    font-family: $fontheader;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.05em;
                    text-align: left;
                    color: #505954;
                }
    
                .accordion-body{
                    padding: 20px;
                    background: #E6F6ED;
                    font-family: $fontheader;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    text-align: left;
                    color: #505954;
                    padding-left: 41.25px;
                    padding-right: 41.25px;
                }
                // .accordion-button::after{
                //     content: "";
                //     background-image: url(./chevron-down-solid.svg) !important;
                // }
            }
        }
    }
    }