*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: #F0F0F0;
  padding: 20px 92px 20px 92px;
}
nav ul {
  margin-left: 30%;
  gap: 54px;
}
nav a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #152934;
}

.hero-section {
  font-family: "Hind Siliguri", sans-serif;
  padding: 35px 77px 140px 134px;
  margin-top: 140px;
}
.hero-section h1 {
  width: 513px;
  height: 267px;
  font-size: 54px;
  font-weight: 600;
  line-height: 89px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #152934;
}
.hero-section .details {
  width: 590px;
  height: 156px;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #5D6467;
  margin-bottom: 48px;
}
.hero-section .downloadnow {
  width: 278px;
  height: 39px;
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #152934;
}
.hero-section button {
  display: inline-flex;
  width: 250px;
  height: 64px;
  padding: 0;
  background: #20CB68;
  border: none;
  outline: none;
  border-radius: 12px 16px 16px 12px;
  overflow: hidden;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.05em;
  box-shadow: 4px 4px 4px #00A746;
}
.hero-section button:hover {
  background: #21c766;
}
.hero-section .button-text,
.hero-section .button-icon {
  display: inline-flex;
  align-items: center;
  padding: 20px 24px 20px 24px;
  color: #FFFFFF;
  height: 100%;
}
.hero-section .button-icon {
  font-size: 1.5em;
  background: #00A746;
}

.features {
  padding: 100px 0px 100px 0px;
}
.features .features-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  text-align: center;
  align-items: center;
}
.features .swiper {
  padding-top: 56px;
  padding-left: 92.5px;
  padding-right: 92.5px;
}
.features .card {
  width: 302px;
  height: 231px;
  padding: 24px 8px 24px 8px;
  border-radius: 12px;
  border: none;
  outline: none;
}
.features .feature-icon {
  display: grid;
  place-items: center;
}
.features .card-header {
  width: 290px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 18px 25px 0px 25px;
  border: none;
  outline: none;
}
.features .card-description {
  padding: 25px 8px 24px 8px;
  width: 286px;
  height: 63px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
}
.features .card:hover {
  background-color: #D9F2E3;
  box-shadow: 27px 19px 9px 0px rgba(0, 0, 0, 0);
}

.doctor-dashboard {
  padding: 120px 92px 120px 92px;
}
.doctor-dashboard h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-bottom: 16px;
}
.doctor-dashboard p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 58px;
}
.doctor-dashboard .services-section {
  padding-right: 40px;
}
.doctor-dashboard .services-section .service-one {
  padding-bottom: 28px;
}
.doctor-dashboard .services-section .service-two {
  padding-bottom: 28px;
}
.doctor-dashboard .services-section img {
  padding-top: 17px;
  padding-bottom: 17px;
}
.doctor-dashboard .services-section h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 18px;
}
.doctor-dashboard .services-section p {
  width: 342px;
  height: 54px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-left: 18px;
}

.benifits {
  padding: 120px 92px 120px 92px;
}
.benifits h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-bottom: 18px;
  text-align: center;
}
.benifits p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 90px;
  text-align: center;
}
.benifits .left .number {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #007D35;
  background-color: #E6F6ED;
  width: 76px;
  height: 80px;
  padding: 16px 28px 16px 28px;
  border-radius: 16px;
  margin-left: auto;
}
.benifits .left .number:hover {
  background-color: #00A746;
}
.benifits .left h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-top: 20px;
  text-align: right;
}
.benifits .left p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-bottom: 40px;
  text-align: right;
  width: 290px;
  height: 96px;
  margin-left: auto;
}
.benifits img {
  padding-left: 61px;
  padding-right: 61px;
}
.benifits .right .number {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #007D35;
  background-color: #E6F6ED;
  width: 76px;
  height: 80px;
  padding: 16px 28px 16px 28px;
  border-radius: 16px;
  margin-right: auto;
}
.benifits .right .number:hover {
  background-color: #00A746;
}
.benifits .right h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-top: 20px;
  text-align: left;
}
.benifits .right p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-bottom: 40px;
  text-align: left;
  width: 290px;
  height: 96px;
  margin-right: auto;
}

.question {
  padding: 100px 80px 100px 80px;
}
.question h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
  padding-bottom: 15px;
}
.question p {
  width: 600px;
  height: 81px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #505954;
  margin: auto;
}
.question .data-related-question {
  padding-top: 36px;
}
.question .data-related-question h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 80px;
  margin: auto;
}
.question .data-related-question .accordion {
  width: 689.17px;
}
.question .data-related-question .accordion .accordion-button {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
}
.question .data-related-question .accordion .accordion-body {
  padding: 20px;
  background: #E6F6ED;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 41.25px;
  padding-right: 41.25px;
}
.question .prescription-related-question {
  padding-top: 36px;
}
.question .prescription-related-question h4 {
  font-family: "Hind Siliguri", sans-serif;
  width: 300px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 80px;
  margin: auto;
}
.question .prescription-related-question .accordion {
  width: 689.17px;
}
.question .prescription-related-question .accordion .accordion-button {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
}
.question .prescription-related-question .accordion .accordion-body {
  padding: 20px;
  background: #E6F6ED;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 41.25px;
  padding-right: 41.25px;
}

.app-download {
  padding: 52px 80px 0px 80px;
  background-color: #E6F6ED;
}
.app-download .left {
  padding-left: 80px;
}
.app-download .left h1 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0.05em;
  color: #152934;
}
.app-download .left p {
  width: 606.67px;
  height: 66px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-top: 13.33px;
}
.app-download .left h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-top: 38.67px;
  padding-bottom: 13.33px;
}
.app-download .left button {
  border: none;
  outline: none;
}
.app-download .right img {
  width: 380px;
  height: 500px;
}

.footer {
  padding: 100px 0px 50px 0px;
  display: flex;
  justify-content: center;
}
.footer .first-footer {
  padding-left: 84.17px;
}
.footer .first-footer .footer-logo-image img {
  padding-bottom: 26.67px;
}
.footer .first-footer .social-links {
  display: flex;
  gap: 15px;
}
.footer .first-footer .social-links img {
  height: 40px;
  width: 40px;
}
.footer .second-footer {
  padding-left: 35.83px;
}
.footer .second-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .second-footer h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 6.67px;
}
.footer .second-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .third-footer {
  padding-left: 23.17px;
}
.footer .third-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .third-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .fourth-footer {
  padding-left: 44px;
}
.footer .fourth-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .fourth-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .fifth-footer {
  padding-left: 47px;
}
.footer .fifth-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .fifth-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .sixth-footer {
  padding-left: 10px;
}
.footer .sixth-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .sixth-footer h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 6.67px;
  padding-bottom: 10px;
}
.footer .sixth-footer .update-input {
  width: 183px;
}
.footer .sixth-footer .update-input input {
  width: 150px;
  height: 40px;
  padding: 6.67px;
  border: 0.83px solid #5D6467;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  border-radius: 6.67px 0px 0px 6.67px;
  outline: none;
  float: left;
  color: #5D6467;
}
.footer .sixth-footer .update-input i {
  background-color: #00A746;
  color: #E6F6ED;
  text-align: center;
  line-height: 40px;
  width: 33px;
  border-radius: 0px 6.67px 6.67px 0px;
}
.footer .copyright {
  padding-top: 45px;
}
.footer .copyright p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #A3AFB4;
  text-align: center;
}/*# sourceMappingURL=style.css.map */