*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  margin-top: 120px;
}

nav {
  padding: 20px 92px 20px 92px;
}
nav ul {
  margin-left: 30%;
  gap: 54px;
}
nav a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #152934;
}

.hero-section {
  font-family: "Hind Siliguri", sans-serif;
  padding: 35px 77px 140px 134px;
}
.hero-section h1 {
  width: 513px;
  height: 267px;
  font-size: 54px;
  font-weight: 600;
  line-height: 89px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #152934;
}
.hero-section .details {
  width: 590px;
  height: 156px;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #5D6467;
  margin-bottom: 48px;
}
.hero-section .downloadnow {
  width: 278px;
  height: 39px;
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #152934;
}
.hero-section button {
  display: inline-flex;
  width: 250px;
  height: 64px;
  padding: 0;
  background: #20CB68;
  border: none;
  outline: none;
  border-radius: 12px 16px 16px 12px;
  overflow: hidden;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.05em;
  box-shadow: 4px 4px 4px #00A746;
}
.hero-section button:hover {
  background: #21c766;
}
.hero-section .button-text,
.hero-section .button-icon {
  display: inline-flex;
  align-items: center;
  padding: 20px 24px 20px 24px;
  color: #FFFFFF;
  height: 100%;
}
.hero-section .button-icon {
  font-size: 1.5em;
  background: #00A746;
}

.features .features-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  text-align: center;
  align-items: center;
}
.features .swiper {
  padding-top: 56px;
  padding-left: 92.5px;
  padding-right: 92.5px;
}
.features .card {
  width: 302px;
  height: 231px;
  padding: 24px 8px 24px 8px;
  border-radius: 12px;
  border: none;
  outline: none;
}
.features .feature-icon {
  display: grid;
  place-items: center;
}
.features .card-header {
  width: 290px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 18px 25px 0px 25px;
  border: none;
  outline: none;
}
.features .card-description {
  padding: 25px 8px 24px 8px;
  width: 286px;
  height: 63px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
}
.features .card:hover {
  background-color: #D9F2E3;
  box-shadow: 27px 19px 9px 0px rgba(0, 0, 0, 0);
}

.doctor-dashboard {
  padding: 120px 92px 120px 92px;
  background-color: aqua;
}
.doctor-dashboard h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-bottom: 16px;
}
.doctor-dashboard p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #505954;
}
.doctor-dashboard .services-section {
  display: flex;
  padding-right: 40px;
}
.doctor-dashboard .services-section img {
  padding-top: 17px;
  padding-bottom: 17px;
}
.doctor-dashboard .services-section h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 18px;
}
.doctor-dashboard .services-section p {
  width: 342px;
  height: 54px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-left: 18px;
}/*# sourceMappingURL=style.css.map */