*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: #F0F0F0;
  padding: 20px 92px 20px 92px;
}
nav ul {
  margin-left: 7%;
  gap: 54px;
}
nav a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #152934;
}
nav .nav-link:hover {
  color: #008638 !important;
}

.hero-section {
  font-family: "Hind Siliguri", sans-serif;
  padding: 35px 77px 140px 134px;
  margin-top: 140px;
}
.hero-section h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 89px;
  letter-spacing: 0.05em;
  color: #152934;
}
.hero-section .details {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-bottom: 40px;
  padding-top: 27px;
}
.hero-section .downloadnow {
  font-size: 20px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
}
.hero-section button {
  outline: none;
  border: none;
}

@media screen and (max-width: 576px) {
  .hero-section {
    padding: 40px 16px 40px 16px;
  }
  .hero-section h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #262626;
    padding-right: 24.58px;
    padding-left: 24.58px;
  }
  .hero-section .details {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #5D6467;
    padding-top: 12px;
  }
  .hero-section .downloadnow {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #262626;
    text-align: center;
    margin: auto;
  }
  .hero-section button {
    display: flex;
    margin: auto;
    padding-top: 12px;
  }
}
.features {
  padding: 100px 0px 100px 0px;
}
.features .features-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  text-align: center;
  align-items: center;
}
.features .swiper {
  padding-top: 56px;
  padding-left: 92.5px;
  padding-right: 92.5px;
}
.features .card {
  width: 302px;
  height: 231px;
  padding: 24px 8px 24px 8px;
  border-radius: 12px;
  border: none;
  outline: none;
}
.features .feature-icon {
  display: grid;
  place-items: center;
}
.features .card-header {
  width: 290px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 18px 25px 0px 25px;
  border: none;
  outline: none;
}
.features .card-description {
  padding: 25px 8px 24px 8px;
  width: 286px;
  height: 63px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
}
.features .card:hover {
  background-color: #D9F2E3;
  box-shadow: 27px 19px 9px 0px rgba(0, 0, 0, 0);
}

.doctor-dashboard {
  padding: 120px 92px 120px 92px;
}
.doctor-dashboard h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-bottom: 16px;
}
.doctor-dashboard p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 58px;
}
.doctor-dashboard .services-section {
  padding-right: 40px;
}
.doctor-dashboard .services-section .service-one {
  padding-bottom: 28px;
}
.doctor-dashboard .services-section .service-two {
  padding-bottom: 28px;
}
.doctor-dashboard .services-section img {
  padding-top: 17px;
  padding-bottom: 17px;
}
.doctor-dashboard .services-section h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 18px;
}
.doctor-dashboard .services-section p {
  width: 342px;
  height: 54px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-left: 18px;
}

.benifits {
  padding: 120px 92px 120px 92px;
}
.benifits h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-bottom: 18px;
  text-align: center;
}
.benifits p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 90px;
  text-align: center;
}
.benifits .left .number {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #007D35;
  background-color: #E6F6ED;
  width: 76px;
  height: 80px;
  padding: 16px 28px 16px 28px;
  border-radius: 16px;
  margin-left: auto;
}
.benifits .left .number:hover {
  background-color: #00A746;
}
.benifits .left h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-top: 20px;
  text-align: right;
}
.benifits .left p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-bottom: 40px;
  text-align: right;
  width: 290px;
  height: 96px;
  margin-left: auto;
}
.benifits img {
  padding-left: 61px;
  padding-right: 61px;
}
.benifits .right .number {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #007D35;
  background-color: #E6F6ED;
  width: 76px;
  height: 80px;
  padding: 16px 28px 16px 28px;
  border-radius: 16px;
  margin-right: auto;
}
.benifits .right .number:hover {
  background-color: #00A746;
}
.benifits .right h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-top: 20px;
  text-align: left;
}
.benifits .right p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #5D6467;
  padding-bottom: 40px;
  text-align: left;
  width: 290px;
  height: 96px;
  margin-right: auto;
}

.question {
  padding: 100px 80px 100px 80px;
}
.question h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
  padding-bottom: 15px;
}
.question p {
  width: 600px;
  height: 81px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #505954;
  margin: auto;
}
.question .data-related-question {
  padding-top: 36px;
}
.question .data-related-question h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 80px;
  margin: auto;
}
.question .data-related-question .accordion {
  width: 689.17px;
}
.question .data-related-question .accordion .accordion-button {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
}
.question .data-related-question .accordion .accordion-body {
  padding: 20px;
  background: #E6F6ED;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 41.25px;
  padding-right: 41.25px;
}
.question .prescription-related-question {
  padding-top: 36px;
}
.question .prescription-related-question h4 {
  font-family: "Hind Siliguri", sans-serif;
  width: 300px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 80px;
  margin: auto;
}
.question .prescription-related-question .accordion {
  width: 689.17px;
}
.question .prescription-related-question .accordion .accordion-button {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
}
.question .prescription-related-question .accordion .accordion-body {
  padding: 20px;
  background: #E6F6ED;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-left: 41.25px;
  padding-right: 41.25px;
}

.app-download {
  padding: 52px 80px 0px 80px;
  background-color: #E6F6ED;
}
.app-download .left {
  padding-left: 80px;
}
.app-download .left h1 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0.05em;
  color: #152934;
}
.app-download .left p {
  width: 606.67px;
  height: 66px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-top: 13.33px;
}
.app-download .left h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #505954;
  padding-top: 38.67px;
  padding-bottom: 13.33px;
}
.app-download .left button {
  border: none;
  outline: none;
}
.app-download .right img {
  width: 380px;
  height: 500px;
}

.footer {
  padding: 100px 0px 50px 0px;
  display: flex;
  justify-content: center;
}
.footer .first-footer {
  padding-left: 84.17px;
}
.footer .first-footer .footer-logo-image img {
  padding-bottom: 26.67px;
}
.footer .first-footer .social-links {
  display: flex;
  gap: 15px;
}
.footer .first-footer .social-links img {
  height: 40px;
  width: 40px;
}
.footer .second-footer {
  padding-left: 35.83px;
}
.footer .second-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .second-footer h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 6.67px;
}
.footer .second-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .third-footer {
  padding-left: 23.17px;
}
.footer .third-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .third-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .fourth-footer {
  padding-left: 44px;
}
.footer .fourth-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .fourth-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .fifth-footer {
  padding-left: 47px;
}
.footer .fifth-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .fifth-footer h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.footer .sixth-footer {
  padding-left: 10px;
}
.footer .sixth-footer h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
}
.footer .sixth-footer h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 6.67px;
  padding-bottom: 10px;
}
.footer .sixth-footer .update-input {
  width: 183px;
}
.footer .sixth-footer .update-input input {
  width: 150px;
  height: 40px;
  padding: 6.67px;
  border: 0.83px solid #5D6467;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  border-radius: 6.67px 0px 0px 6.67px;
  outline: none;
  float: left;
  color: #5D6467;
}
.footer .sixth-footer .update-input i {
  background-color: #00A746;
  color: #E6F6ED;
  text-align: center;
  line-height: 40px;
  width: 33px;
  border-radius: 0px 6.67px 6.67px 0px;
}
.footer .copyright {
  padding-top: 45px;
}
.footer .copyright p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #A3AFB4;
  text-align: center;
}

.welcome {
  height: auto;
  background-color: #E6F6ED;
  border-radius: 12px;
  margin-top: 94.07px;
  padding: 50px 80px 50px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .left h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 20px;
}
.welcome .left p {
  width: 590px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 20px;
}
.welcome .right {
  width: 228px;
  height: 170px;
}

.postheader {
  height: auto;
  margin-top: 16px;
  padding: 20px 80px 20px 80px;
  border: none;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
.postheader .posts a {
  text-decoration: none;
  padding-right: 40px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #152934;
}

.app-benifit {
  height: 500px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 90px;
}
.app-benifit .left a {
  text-decoration: none;
}
.app-benifit .left img {
  border-radius: 6px 6px 0px 0px;
}
.app-benifit .left .date {
  padding-left: 20px;
  padding-top: 23.33px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.app-benifit .left .date span {
  color: #5D6467;
  padding-left: 18.67px;
}
.app-benifit .left h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 20px;
  padding-top: 16.67px;
}
.app-benifit .left p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 20px;
  padding-top: 6.67px;
}
.app-benifit .right {
  padding-left: 33.33px;
}
.app-benifit .right .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}
.app-benifit .right .first h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
}
.app-benifit .right .first p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
}
.app-benifit .right .first .reading-time {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.app-benifit .right .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-benifit .right .second h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
}
.app-benifit .right .second p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
}
.app-benifit .right .second .reading-time {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}

.patient-prescription {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 90px;
}
.patient-prescription .for-doctors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.patient-prescription .for-doctors h5 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.05em;
}
.patient-prescription .for-doctors P {
  padding-right: 12.42px;
}
.patient-prescription .for-doctors P .right-arrow {
  color: #00A746;
}
.patient-prescription .prescription-blog {
  margin-top: 20px;
}
.patient-prescription .prescription-blog .first-card-blog a {
  text-decoration: none;
}
.patient-prescription .prescription-blog .first-card-blog .date {
  padding-left: 13.33px;
  padding-top: 20px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.patient-prescription .prescription-blog .first-card-blog .date span {
  color: #5D6467;
  padding-left: 18.67px;
}
.patient-prescription .prescription-blog .first-card-blog h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 13.33px;
  padding-top: 13.33px;
}
.patient-prescription .prescription-blog .first-card-blog p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 13.33px;
  padding-top: 8.33px;
  width: 300px;
}
.patient-prescription .prescription-blog .second-card-blog a {
  text-decoration: none;
}
.patient-prescription .prescription-blog .second-card-blog .date {
  padding-left: 13.33px;
  padding-top: 20px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.patient-prescription .prescription-blog .second-card-blog .date span {
  color: #5D6467;
  padding-left: 18.67px;
}
.patient-prescription .prescription-blog .second-card-blog h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 13.33px;
  padding-top: 13.33px;
}
.patient-prescription .prescription-blog .second-card-blog p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 13.33px;
  padding-top: 8.33px;
  width: 300px;
}
.patient-prescription .prescription-blog .third-card-blog a {
  text-decoration: none;
}
.patient-prescription .prescription-blog .third-card-blog .date {
  padding-left: 13.33px;
  padding-top: 20px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.patient-prescription .prescription-blog .third-card-blog .date span {
  color: #5D6467;
  padding-left: 18.67px;
}
.patient-prescription .prescription-blog .third-card-blog h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 13.33px;
  padding-top: 13.33px;
}
.patient-prescription .prescription-blog .third-card-blog p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 13.33px;
  padding-top: 8.33px;
  width: 300px;
}

.doctoradvice {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 90px;
}
.doctoradvice .for-doctors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doctoradvice .for-doctors h5 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.05em;
}
.doctoradvice .for-doctors P {
  padding-right: 12.42px;
}
.doctoradvice .for-doctors P .right-arrow {
  color: #00A746;
}
.doctoradvice .advice-blog .left a {
  text-decoration: none;
}
.doctoradvice .advice-blog .right a {
  text-decoration: none;
}
.doctoradvice .advice-blog .date {
  padding-left: 20px;
  padding-top: 23.33px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.doctoradvice .advice-blog .date span {
  color: #5D6467;
  padding-left: 18.67px;
}
.doctoradvice .advice-blog h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 20px;
  padding-top: 16.67px;
}
.doctoradvice .advice-blog p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 20px;
  padding-top: 6.67px;
  width: 510px;
}

.patient-prescription-blog {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 90px;
}
.patient-prescription-blog .date {
  padding-left: 13.33px;
  padding-top: 20px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #152934;
}
.patient-prescription-blog .date span {
  color: #5D6467;
  padding-left: 18.67px;
}
.patient-prescription-blog h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-left: 13.33px;
  padding-top: 13.33px;
}
.patient-prescription-blog p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-left: 13.33px;
  padding-top: 8.33px;
  width: 300px;
}
.patient-prescription-blog .fourth-prescription,
.patient-prescription-blog .fifth-prescription,
.patient-prescription-blog .sixth-prescription {
  padding-top: 24px;
}
.patient-prescription-blog .first-prescription a,
.patient-prescription-blog .second-prescription a,
.patient-prescription-blog .third-prescription a,
.patient-prescription-blog .fourth-prescription a,
.patient-prescription-blog .fifth-prescription a,
.patient-prescription-blog .sixth-prescription a {
  text-decoration: none;
}

.full-footer {
  background-color: #E6F6ED;
}
.full-footer .footer-blog {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 90px;
  padding: 100px 0px 50px 0px;
}
.full-footer .footer-blog .social-links {
  display: flex;
  gap: 15px;
}
.full-footer .footer-blog .social-links img {
  height: 40px;
  width: 40px;
  margin-top: 20px;
}
.full-footer .footer-blog h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  width: 123px;
  height: 30px;
  padding-bottom: 15px;
  padding-bottom: 17.5px;
}
.full-footer .footer-blog .second-footer-sections-blog h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 6.67px;
  padding-bottom: 6px;
}
.full-footer .footer-blog .second-footer-sections-blog h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.full-footer .footer-blog .third-footer-sections-blog h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  padding-bottom: 6.67px;
  padding-bottom: 6px;
}
.full-footer .footer-blog .third-footer-sections-blog h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.full-footer .footer-blog .fourth-footer-sections-blog h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.full-footer .footer-blog .fifth-footer-sections-blog h6 a {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.full-footer .footer-blog .sixth-footer-sections-blog h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #505954;
  text-decoration: none;
}
.full-footer .footer-blog .sixth-footer-sections-blog .update-input {
  width: 183px;
}
.full-footer .footer-blog .sixth-footer-sections-blog .update-input input {
  width: 150px;
  height: 40px;
  padding: 6.67px;
  border: 0.83px solid #5D6467;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  border-radius: 6.67px 0px 0px 6.67px;
  outline: none;
  float: left;
  color: #5D6467;
}
.full-footer .footer-blog .sixth-footer-sections-blog .update-input i {
  background-color: #00A746;
  color: #E6F6ED;
  text-align: center;
  line-height: 40px;
  width: 33px;
  border-radius: 0px 6.67px 6.67px 0px;
}
.full-footer .footer-blog .second-footer-header,
.full-footer .footer-blog .second-footer-sections-blog {
  margin-left: 55px;
}
.full-footer .footer-blog .third-footer-header .third-footer-sections-blog {
  margin-left: 88px;
}
.full-footer .footer-blog .fourth-footer-header .fourth-footer-sections-blog {
  margin-left: 58px;
}
.full-footer .footer-blog .fifth-footer-header,
.full-footer .footer-blog .fifth-footer-sections-blog {
  margin-left: 96px;
}
.full-footer .footer-blog .sixth-footer-header,
.full-footer .footer-blog .sixth-footer-sections-blog {
  margin-left: 105px;
}
.full-footer .download-button-blog {
  margin-left: 100px;
  margin-right: 90px;
}
.full-footer .download-button-blog h5 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #262626;
}
.full-footer .download-button-blog .button-blog {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 16px;
}
.full-footer .download-button-blog .copyright {
  padding-top: 24px;
  padding-bottom: 50.17px;
}
.full-footer .download-button-blog .copyright p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #A3AFB4;
  text-align: center;
}

.full-about-us-hero {
  background: #E6F6ED;
}
.full-about-us-hero .about-us-hero {
  margin-top: 82px;
  margin-left: 100px;
  margin-right: 90px;
  padding: 50px 20px 50px 20px;
}
.full-about-us-hero .about-us-hero p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #152934;
}
.full-about-us-hero .about-us-hero h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-top: 10px;
}

.mission {
  padding: 120px 30px 100px 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.mission .row {
  display: flex;
  align-items: center;
}
.mission h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0.05em;
  color: #152934;
  margin-bottom: 4px;
}
.mission .short-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #152934;
  margin-bottom: 24px;
}
.mission .long-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #152934;
}

.vision {
  padding: 120px 0px 100px 30px;
  margin-left: 100px;
  margin-right: 10px;
}
.vision .row {
  display: flex;
  align-items: center;
}
.vision h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0.05em;
  color: #152934;
  margin-bottom: 4px;
}
.vision .short-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #152934;
  margin-bottom: 24px;
}
.vision .long-description {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #152934;
}

.ceo-section {
  padding: 120px 30px 100px 30px;
  margin-left: 100px;
  margin-right: 90px;
}
.ceo-section p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
  margin-top: 32px;
}
.ceo-section h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 21px;
  color: #152934;
}
.ceo-section .designation {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #5D6467;
  margin-top: 4px;
}

.contact-about-us-hero {
  background: #E6F6ED;
}
.contact-about-us-hero .contact-us-hero {
  margin-top: 82px;
  margin-left: 100px;
  margin-right: 90px;
  padding: 50px 20px 50px 20px;
}
.contact-about-us-hero .contact-us-hero p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #152934;
}
.contact-about-us-hero .contact-us-hero h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0.05em;
  color: #152934;
  padding-top: 10px;
}

.form-section {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 90px;
  padding: 100px 0px 100px 0px;
}
.form-section h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #152934;
}
.form-section p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #152934;
  margin-top: 24px;
}
.form-section .form {
  height: 504px;
  width: 504px;
  background: #D9F2E3;
  border-radius: 16px;
  padding: 30px 20px 30px 20px;
}
.form-section .form input {
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  border: none;
  outline: none;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #000000;
  width: 464px;
  height: 55px;
}
.form-section .form .barta {
  height: 120px;
  position: relative;
}
.form-section .form button {
  background-color: #00A746;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 0px 8px 0px;
  width: 180px;
  height: 55px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.05em;
  border: none;
}
.form-section .form textarea {
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  border: none;
  outline: none;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #000000;
  width: 464px;
}

.number-address {
  margin-left: 100px;
  margin-right: 90px;
  padding: 100px 0px 100px 0px;
}
.number-address .email {
  display: flex;
  gap: 18.33px;
  background: #D9F2E3;
  border-radius: 14px;
  padding: 20px 34px 20px 34px;
}
.number-address .email .top {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #5D6467;
  margin-bottom: 0px;
}
.number-address .email .down {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #152934;
}

.post-section {
  padding: 40px 80px 24px 80px;
}
.post-section h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 79px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
  padding-bottom: 24px;
}
.post-section .date {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
  padding-bottom: 46px;
}
.post-section span {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #5D6467;
}
.post-section img {
  padding-bottom: 24px;
}
.post-section p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #152934;
}
.post-section h5 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
  padding-bottom: 32px;
}

.tag-section {
  padding: 20px 0px 20px 0px;
  margin-left: 100px;
  margin-right: 100px;
  border: none;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 100px;
}
.tag-section .tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag-section .tags p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #152934;
}
.tag-section .tags p span {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #5D6467;
}
.tag-section .tags p a {
  text-decoration: none;
}
.tag-section .tags p a img {
  padding-left: 20px;
}

.patient-prescription .related-post h5 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #152934;
}
.patient-prescription .singleblog {
  padding-top: 30px;
}

.blog-button {
  padding: 40px 80px 24px 80px;
}
.blog-button a {
  text-decoration: none;
}
.blog-button a button {
  width: 180px;
  height: 54px;
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  border: 1px solid #00A746;
  background: #F9F9F9;
}/*# sourceMappingURL=style.css.map */